  <div id="menu">
    <a id="home" href="/">Home</a>
    <a id="addNew" href="/movies/add-movie">Add a new Movie</a>
    <a id="viewAll" href="/movies">View All Movies</a>
    <a id ="genre" href= '/movies/genre'>Search by genre</a>
    <a id="signout" href="/logout">Sign Out</a>
  </div>