<html>
    <head>
     <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
    {{>menu}}
        <h1>Movie</h1>

    <div id=movieContainer>    
        <ul>
       
        <img class="movieImage" src="{{movie.image}}">
            <li>
                <b>{{title}}</b>
                <i>{{description}}</i>
                <label>{{genre}}</label>
                <form method='POST' action= '/movies/delete-movie?movieId={{id}}' >
                    <button id="delete">Delete</button>
                </form>
                <a id="edit" href='/movies/update-movie?id={{id}}' >
                    Edit
                </a>
            </li>

        </ul>
        <form method = "POST" action = "/movies/add-review" >
            <input type = "hidden" name = "movieId" value = {{id}} />
            <input type = "text" name = "reviewTitle" />
            <input type = "text" name = "reviewBody" />
            <button>Add Review</button>
        </form>

        {{#reviews}}
            <b>{{title}}</b>
            <p>{{body}}</p>
        
        <form method='POST' action= '/movies/delete-review?reviewId={{id}}' >
                    <button id="delete">Delete</button>
                </form>

        {{/reviews}}
    </div>
        
    </body>
</html>